[submodule "estafet-microservices-scrum-api-project"]
	path = estafet-microservices-scrum-api-project
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-project.git
[submodule "estafet-microservices-scrum-api-sprint"]
	path = estafet-microservices-scrum-api-sprint
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-sprint.git
[submodule "estafet-microservices-scrum-api-story"]
	path = estafet-microservices-scrum-api-story
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-story.git
[submodule "estafet-microservices-scrum-basic-ui"]
	path = estafet-microservices-scrum-basic-ui
	url = git@ems-github:stericbro/estafet-microservices-scrum-basic-ui.git
[submodule "estafet-microservices-scrum-api-sprint-board"]
	path = estafet-microservices-scrum-api-sprint-board
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-sprint-board.git
[submodule "estafet-microservices-scrum-api-project-burndown"]
	path = estafet-microservices-scrum-api-project-burndown
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-project-burndown.git
[submodule "estafet-microservices-scrum-api-sprint-burndown"]
	path = estafet-microservices-scrum-api-sprint-burndown
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-sprint-burndown.git
[submodule "estafet-microservices-scrum-api-task"]
	path = estafet-microservices-scrum-api-task
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-task.git
[submodule "estafet-microservices-scrum-api-discovery"]
	path = estafet-microservices-scrum-api-discovery
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-discovery
[submodule "estafet-microservices-scrum-api-gateway"]
	path = estafet-microservices-scrum-api-gateway
	url = git@ems-github:stericbro/estafet-microservices-scrum-api-gateway
[submodule "estafet-microservices-scrum-qa"]
	path = estafet-microservices-scrum-qa
	url = git@ems-github:stericbro/estafet-microservices-scrum-qa.git
