**/.project
**/bin/
**/.settings/
/.classpath
*.retry
**/.terraform/
**/inventory.cfg
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/rds-inventory.cfg
ansible/ems-template
*.idea
*.log
**/*.pyc
**/.pydevproject
