[local]
localhost ansible_connection=local

[local:vars]
# The name of the github organisation
github=Estafet-LTD 

# openshift host and port
openshift=192.168.99.100:8443 

# openshift credentials 
username=developer 
password=developer

# database host (only required for cloud environment) 
#database=some_dbhost.amw.com