/deploy-prod-pipeline.groovy.bak
/prod-pipeline.groovy.bak
/setup-pipeline.groovy.bak
/inventory
.project
.classpath
.settings/
/create-devops-environment.log.1
/create-devops-environment.log.2
/create-devops-environment.log.3
